@charset "utf-8";
/* CSS Document */

div.box{
	width:150px;
	text-align:center;
	margin:50px auto;	
}

div.box input[type=text]{
	width:50px;	
}

div.box input[type=submit]{
	margin-top:10px;
}
	
div.table{
	margin:30px auto;
	text-align:center;
}
div.box input.nok[type=text]{
	background-color:red;	
}

div.box input.ok[type=text]{
	background-color:green;	
}