div{ /* only for test */
	outline:1px dashed darkmagenta;
}
div.container{
	background-image:url(bg.png);	
}
/* top-heder --------------------------------*/		
div.top-heder{
	min-height:68px;
	padding:1px;	
}

div.top-heder > div.right{
	min-height:20px;
	margin-top:35px;	
}
/* menu------------------------------------- */
div.menu{
	min-height:69px;
	padding:1px;	
}
div.menu div.logo{
	min-height:50px;	
	margin-top:10px;
}

div.menu div.nav{
	min-height:50px;
	margin-top:15px;	
}

div.menu div.ml4{
	min-height:25px;
	margin-top:30px;	
}

/* heder -------------------------------------*/
div.heder{
	min-height:380px;
	margin-top:10px;
}
div.heder div.text-heder{
	min-height:inherit;	
}
div.heder div.right div.top{
	min-height:130px;	
}

div.heder div.right div.down{
	height:230px;	
}

div.heder > div.mr6{
	min-height:inherit;
}
/* line1 -------------------------------------*/
div.line1{
	min-height:25px;	
}

/* down-heder --------------------------------*/
div.down-heder{
	min-height:250px;
	padding:1px;		
}

div.down-heder > div.slid{
	min-height:220px;
	margin-top:20px;
}

div.down-heder  div.slid  div.top,
div.down-heder div.ml18 div.top {
	min-height:136px;
}

div.down-heder  div.slid  div.down,
div.down-heder div.ml18 div.down{
	min-height:70px;	
}

div.down-heder div.ml18{
	min-height:220px;
	margin-top:20px;	
}

/*footer -------------------------------------*/
div.footer{
	min-height:320px;
	margin-top:10px;
		
}

div.footer > div{
	min-height:inherit;	
	outline:1px solid red;
	padding:1px;
}

div.footer div.from-the-blog div.top,
div.footer div.right div.top,
div.footer div.ml12 div.top{
	min-height:25px;
	margin-top:18px;	
}

div.footer div.from-the-blog div.middel{
	min-height:130px;	
}

div.footer div.from-the-blog div.down{
	min-height:120px;	
}

div.footer div.from-the-blog div.middel > div,
div.footer div.from-the-blog div.down > div{
	min-height:inherit;	
}

div.footer div.flickr-widget div.down{
	min-height:130px;	
}

div.footer div.ml12 div.down{
	min-height:130px;	
}
/*down-footer ---------------------------------*/
div.down-footer{
	min-height:60px;	
}

div.down-footer >div{
	min-height:40px;
	margin-top:10px;	
}